


body {
    background-color: #BBD6B8;
    color: #40514E;
    background-image: url(../images/gradient1.jpg);
    padding-top: 25px;
    background-repeat: repeat-x;
    padding-bottom: 1px;
    padding-right: 50px;
    padding-left: 50px;
    background-size: cover;
    margin: 0px;
    text-align: center;
    line-height: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

hr {
    border: dotted #245953 10px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}



h1  {
    font-size: 5.62rem;
    margin: 50px auto 0 auto;
    color: #245953;
}

h2 {
    font-size: 2.5rem;
    color: #245953;
}

h3 {
    color: #408E91;
}

.top-container {    
    margin-bottom: 100px;
    
}


.middle-container {
    padding: 50px;
}

.profilepic {
    margin: 1px auto 100px auto;
}

.profilespan {
    text-align: center;
    width: 50%;
    margin: auto;
}

.bottom-container {
    color: #245953;
}

.skill-row {
    width:50% ;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.backendicon {
    padding-right: 30px;
    width: 25%;
    float:left;
}

.cybersecurityicon {
    padding-left: 30px;
    width: 25%;
    float: right;
}


.software {
    color:#245953;
    font-weight: bold;
}

.contact-me{
    color: #245953;
}


.fa {
    border-radius: 8px;
    padding: 20px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-rss {
    background: #ff6600;
    color: white;
  }

  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }

  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}